Repository brc-dd/iron-webcrypto: changes, and which lefthook commands are due for each by the changed paths.
All: 1_replace, 3_eslint

lefthook.yaml:

skip_output:
  - meta
  - execution

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

post-commit:
  commands:
    status:
      run: git status

pre-commit:
  piped: true
  commands:
    1_replace:
      glob: '*.{json,ts}'
      exclude: dist
      run: pnpm replace "'{\n'" "'{ '" {all_files}
    2_prettify:
      exclude: dist
      run: pnpm prettier --write --ignore-unknown {all_files}
    3_eslint:
      glob: '*.ts'
      exclude: dist
      run: pnpm eslint --fix {all_files} --max-warnings 3

chore: release v1.1.0
  CHANGELOG.md
  README.md
  jsr.json
  package.json
Due: 1_replace

docs: fix typo
  README.md
Due: none

chore: update third-party licenses and sha of links in comments
  README.md
  src/utils.ts
Due: 1_replace, 3_eslint

chore(codeql): setup devskim
  .github/workflows/ci.yaml
Due: none

fix(types): it wrongfully allowed using digest algorithms in encryption options
  dist/index.d.cts
  dist/index.d.ts
  src/types.ts
Due: 1_replace, 3_eslint

chore: release v1.1.1
  CHANGELOG.md
  README.md
  jsr.json
  package.json
Due: 1_replace

ci: check on node 22
  .github/workflows/ci.yaml
Due: none

fix: broken aes-128-ctr mode
  .eslintrc.yaml
  dist/index.cjs
  dist/index.d.cts
  dist/index.d.ts
  dist/index.js
  package.json
  pnpm-lock.yaml
  src/_crypto.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  tests/index.ts
Due: 1_replace, 3_eslint

chore: release v1.2.0
  CHANGELOG.md
  README.md
  jsr.json
  package.json
Due: 1_replace

fix(jsr): remove slow types
  dist/index.d.cts
  dist/index.d.ts
  src/index.ts
  src/types.ts
Due: 1_replace, 3_eslint

chore: release v1.2.1
  CHANGELOG.md
  README.md
  jsr.json
  package.json
Due: 1_replace

chore: organize imports
  tests/bun/index.test.ts
  tests/deno/index.test.ts
  tests/node/index.test.ts
Due: 1_replace, 3_eslint

chore: bump deno deps
  tests/deno/index.test.ts
Due: 1_replace, 3_eslint

chore: update third party licenses
  README.md
Due: none

chore(codeql): setup snyk
  .github/workflows/ci.yaml
  .gitignore
  scripts/normalize-sarif.js
Due: none

chore: enable isolatedDeclarations
  dist/index.cjs
  dist/index.js
  package.json
  pnpm-lock.yaml
  tests/deno/index.test.ts
  tests/index.ts
  tsconfig.json
  tsup.config.ts
Due: 1_replace, 3_eslint

chore: bump deps
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  package.json
  pnpm-lock.yaml
Due: 1_replace

fix(types): support typescript 5.9
  src/_crypto.ts
Due: 1_replace, 3_eslint

missed one
  src/_crypto.ts
Due: 1_replace, 3_eslint

chore: update dist
  dist/index.d.cts
  dist/index.d.ts
Due: none

ci: try
  .github/workflows/ci.yaml
Due: none

ci: remove snyk
  .github/workflows/ci.yaml
Due: none

fix: use ArrayBufferView for getRandomValues
  dist/index.d.cts
  dist/index.d.ts
  src/_crypto.ts
Due: 1_replace, 3_eslint

test: update error strings
  tests/index.test.ts
Due: 1_replace, 3_eslint

mark top level invocations as pure
  src/index.ts
Due: 1_replace, 3_eslint

make password objects readonly
  src/types.ts
Due: 1_replace, 3_eslint

mark types readonly where necessary
  src/types.ts
Due: 1_replace, 3_eslint

mark clone as internal fn
  src/index.ts
Due: 1_replace, 3_eslint

adjust code
  src/index.ts
Due: 1_replace, 3_eslint

cleanup deps
  deno.json
  deno.lock
Due: 1_replace

chore: prepare for jsr
  .github/workflows/publish.yaml
  deno.json
Due: 1_replace

wip
  README.md
Due: none

add security considerations
  README.md
Due: none

add password rotation notes and threat model
  README.md
Due: none

remove info on crypto polyfill
  README.md
Due: none

add advanced usage sections
  README.md
  src/index.ts
Due: 1_replace, 3_eslint

minor tweaks
  README.md
Due: none
