Repository brc-dd/iron-webcrypto: changes, and which lefthook commands are due for each by the changed paths.
All: 1_replace, 3_eslint

lefthook.yaml:

skip_output:
  - meta
  - execution

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

post-commit:
  commands:
    status:
      run: git status

pre-commit:
  piped: true
  commands:
    1_replace:
      glob: '*.{json,ts}'
      exclude: dist
      run: pnpm replace "'{\n'" "'{ '" {all_files}
    2_prettify:
      exclude: dist
      run: pnpm prettier --write --ignore-unknown {all_files}
    3_eslint:
      glob: '*.ts'
      exclude: dist
      run: pnpm eslint --fix {all_files} --max-warnings 3

chore: move type helpers to top
  src/index.ts
Due: 1_replace, 3_eslint

release: v2.0.0
  CHANGELOG.md
  deno.json
Due: 1_replace

chore: update version in jsr badge
  README.md
Due: none

chore: grammar
  README.md
Due: none

docs: mention minus zero quirk too
  README.md
Due: none

docs: fix grammar
  README.md
Due: none

test: update error messages for bun compatibility
  tests/index.test.ts
Due: 1_replace, 3_eslint

docs: minor tweaks
  README.md
Due: none

chore: update CI runtime versions
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Due: none

perf: avoid per-key descriptor checks in JSON validation
  src/utils.ts
Due: 1_replace, 3_eslint

perf!: derive keys and run crypto operations in parallel
  README.md
  deno.json
  deno.lock
  src/index.ts
  src/keys.ts
  src/types.ts
  src/utils.ts
  tests/index.test.ts
Due: 1_replace, 3_eslint

test: refresh iron error coverage
  tests/index.test.ts
Due: 1_replace, 3_eslint

test: enable stricter Deno test coverage
  .gitignore
  deno.json
  src/utils.ts
  tests/index.test.ts
Due: 1_replace, 3_eslint

test: name iron token part indexes
  tests/index.test.ts
Due: 1_replace, 3_eslint

fix!: align public option types with supported behavior
  README.md
  src/index.ts
  src/keys.ts
  src/types.ts
  tests/assert.ts
  tests/critical.test.ts
  tests/index.test.ts
Due: 1_replace, 3_eslint

fix: reject non-UTF-8 plaintext on unseal
  src/types.ts
  src/utils.ts
  tests/critical.test.ts
  tests/index.test.ts
Due: 1_replace, 3_eslint

chore: add .gitattributes
  .gitattributes
  tests/critical.test.ts
Due: 1_replace, 3_eslint

chore: disable test coverage, it's blowing up memory
  deno.json
Due: 1_replace

feat: add `/gcm` subpath for AEAD (wip)
  deno.json
  src/gcm.ts
  src/types.ts
  tests/gcm.test.ts
Due: 1_replace, 3_eslint

chore: don't check dist
  deno.json
Due: 1_replace

feat: add `createSealer` for aead variant + derive a fresh key per ticket
  README.md
  src/gcm.ts
  tests/gcm.test.ts
Due: 1_replace, 3_eslint

test: skip prototype pollution test for now
  deno.json
  deno.lock
  tests/critical.test.ts
Due: 1_replace, 3_eslint

feat: add `createSealer` for aead variant + derive a fresh key per ticket (#18)
  README.md
  src/gcm.ts
  tests/gcm.test.ts
Due: 1_replace, 3_eslint
